<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Edit <%=fruit.name%></title>
</head>
<body>
  <h1>Edit <%= note.text %></h1>
  <form action="/notes/<%=note._id%>?_method=PUT" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" value="<%= fruit.name %>" />
    <label for="is-read">Note Read</label>
    <input
      type="checkbox"
      name="isRead"
      <% if (note.isRead) { %>checked<% } %> 
      />
    <button type="submit">Update Note</button>
  </form>
  <a href="/fruits">Back to Notes</a>
</body>
</html>